Django>=5.1.7
django-allauth>=0.65.0
Pillow>=11.1.0
django-crispy-forms>=2.3
python-dotenv>=1.0.1 
social-auth-app-django
django-cors-headers
djangorestframework
djangorestframework-simplejwt>=5.2.2
django-storages[s3]