.artwork-card .ant-card-body {
  display: none;
}

.artwork-card-cover {
  position: relative;
  overflow: hidden;
  z-index: 0;
}

.like-icon {
  position: absolute;
  top: 8px;
  right: 8px;
  z-index: 2;
  color: white;
  display: flex;
  align-items: center;
  gap: 4px;
  cursor: pointer;
}

.mask {
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.45);
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;

  opacity: 0;
  transition: opacity 0.3s ease;
  pointer-events: none;
}

.artwork-card:hover .mask {
  opacity: 1;
  pointer-events: auto;
  z-index: 1; /* 必须低于 .like-icon 的 z-index */
}