.gallery-container {
  min-height: 100vh;
  background-color: #f5f5f5;
  padding: 24px;
}

@media (max-width: 768px) {
  .gallery-container {
    padding: 12px;
  }
} 

.upload-button {
  margin-bottom: 2rem;
  font-size: 2rem;
  padding: 1.3rem;
  border-radius: 1rem;
  border-color: darkblue;
  text-align: center;
}

.gallery-footer {
  position:sticky;
  bottom:2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
}